<html>
    <link rel="stylesheet" href="/static/css/dim.css">
    <div id="login_page">
        <div class="home-guest-wrapper">
            <div class="home-guest-header">
                <div class="home-guest-title">Data Analytics Workbench</div>
                <hr class="home-top-line">
            </div>
            <div class="login-form-section">
                <div class="login-form"></div>
                <div class="login-form-title">System</div>
              <hr class="sign-in-line">
                <input type="password" id="login-form-password" name="key" placeholder="Key"/>
                <div class="login-form-button">
                    <button class="sign-in" type="button" onclick="">
                        <span class="sign-in-button-text">ACCESS</span>
                    </button>
                </div>
                <div class="forgot-password">Forgot key?</div>
            </div>
        </div>
    </div>
</html>